body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2 !important;
}
ul{
  text-align: left;
  margin-left: 1.2em;
  font-size: 2em;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h5{
  margin-block-start: auto !important;
}

.image.testImage>img{
  max-height: 120px !important;
  max-width: 300px !important;
}
.description.ilanIsterler{
  padding-left: 3em;
  padding-top: 1em;
  text-align: left;
}
.accordion.ui.styled.aker{
  width: 1200px;
}